@import "config";

.cart {
  &__title {
    padding: 20px;
    font-size: $font-size-5;

    @media (min-width: 500px) {
      font-size: $font-size-7;
    }

    @media (min-width: 900px) {
      font-size: $font-size-7;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-7;
    }
  }
}

.items {
  max-width: $max-width;
  margin: 0 auto;

  @media (max-width: $max-width -1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  &__row {
    padding: 10px;
    @include row;
    flex-wrap: wrap;
  }

  &__col {
    @include columns(12);

    @media (min-width: 500px) {
      @include columns(6);
    }

    @media (min-width: 900px) {
      @include columns(4);
    }
  }
}

.item {

  &__image {
    width:100%;
  }

  &__title {
    margin: 1rem 0em;
    font-size: $font-size-7;

    @media (min-width: 500px) {
      font-size: $font-size-7;
    }

    @media (min-width: 900px) {
      font-size: $font-size-7;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-7;
    }
  }

  &__description {
    margin: 1rem 0em;
    font-size: $font-size-4;

    @media (min-width: 500px) {
      font-size: $font-size-7;
    }

    @media (min-width: 900px) {
      font-size: $font-size-7;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-7;
    }
  }

  &__price {
    font-size: $font-size-6;
    font-weight: bold;
    margin: 0.5rem 0em;

    @media (min-width: 500px) {
      font-size: $font-size-7;
    }

    @media (min-width: 900px) {
      font-size: $font-size-7;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-7;
    }
  }

  &__meta {

  }

  &__label {
    font-size: $font-size-4;
    @media (min-width: 500px) {
      font-size: $font-size-3;
    }

    @media (min-width: 900px) {
      font-size: $font-size-3;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-3;
    }
  }

  &__input {
    //flex: 1 0 50%;
    font-size: $font-size-6;
    padding: 10px;
    border-radius: 4px;
    background-color: $color-2;
    width: 20%;

    @media (min-width: 500px) {
      font-size: $font-size-2;
      width: 54%;
    }

    @media (min-width: 900px) {
      font-size: $font-size-2;
      width: 65%;
    }

    @media (min-width: 1400px) {
      font-size: $font-size-2;
    }
  }

  &__button {
    //flex: 1 0 50%;
    font-size: $font-size-1;

    @media (min-width: 500px) {
      font-size: $font-size-4;
      width: 44%;
      padding: 10px 10px 10px 40px;
    }

    @media (min-width: 900px) {
      font-size: $font-size-2;
      width: 35%
    }

    @media (min-width: 1400px) {
      font-size: $font-size-2;
      width: 35%
    }

    width: max-content;
    background-color: $color-2;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
    padding: 10px 10px 5px 30px;
    border-radius: 4px;

  }

}

.user {
  padding: 20px;

  &__address {
    display: flex;
    flex-wrap: wrap;

  }

  &__addresstitle {
    width: 100%;
    margin: 20px 0px;
  }

  &__label {
    margin: 5px 0px;
    width: 90%;
  }

  &__payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0px;
  }

  &__date {
  }
}

.cart {
  &__button {
    font-size: $font-size-4;
    background-color: $color-6;
    padding: 10px 100px;
    border-radius: 4px;
  }

  &__buttonholder {
    margin: 2rem 0rem;
    text-align: center;
  }
}

footer {
  margin: 0 auto;
  background-color: $color-6;

  @media (max-width: $max-width -1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}

.footer {
  &__cards {
    padding: 10px;
    @include row;
    flex-wrap: wrap;
  }

  &__card {
    font: $font-heading;

    @include columns(6);

    @media (min-width: 500px) {
      @include columns(6);
    }

    @media (min-width: 900px) {
      @include columns(3);
    }

    @media (min-width: 1400px) {
      @include columns(3);
    }
  }

  &__title {
    margin: 20px 0px;
    font-size: $font-size-6;
  }

  &__list {
    list-style: none;
  }

  &__listitem {
    margin: 5px 0px;
  }

  &__trademark {
    padding: 20px 0px;
    text-align: center;
    font-weight: normal;
  }

}

.footer__listitem > a {
  color: $color-2;
  text-decoration: none;
}
