// TODO stillingar hér
@import "config";
.header {
  padding: 30px;
  text-align: center;
  background:#afb281;
  color: #000000;
  font-size: 30px;
}
.image2:before {
  content:url(img/cart.svg);
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 140px;
  right: 120px;
}
a:hover {
  transition: $transition;
  color: #cee8ff;
}
.karfan{
  color: inherit;
  text-decoration: none;
  font-size: 10px;
  position: absolute;
  top: 140px;
  right: 25px;
}
a:link{
  color: inherit;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}
.button1 {
  width: 66%;
  background-color: $color-6; 
  border-radius: 5px;
  border-width: 0px;
  color: $color-1;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}
.p3,.p2{
  margin-bottom: 20px;
}
.p2{
  font-size: 21px;

}
.p3{
  font-style: $font-main;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}
.grid1{
  display: flex;
  flex-direction: column;
  @media (max-width: 1200px -1) {
    
      padding-right: 20px;
      padding-left: 20px; } 
  
}

.image1{
  width: 100% ;
}
@media(max-width: 500px){
  .grid1__row {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .grid1__column{
    
    margin-bottom:20px;
    @include columns(12);
   
     
    }
  .grid1__row2 {
    flex-direction: column-reverse;
    
  
  }
  
  
}
@media(min-width: 800px){
  .grid1__row {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    padding: 10px;
  }
  
  .grid1__column{
   max-width: 1200px;
   margin-bottom: 20px;
   @include columns(6);
   
     
    }

    
  
}



@media(min-width: 1500px){
  .grid1__column{
    max-width: 1200px;
    margin-bottom: 20px;
    @include columns(6);
    
    
      
     }
  .texti{
    margin-top: 200px;
  }
  .p1,.p5{
    font-size: 28;
  }

}

.p1,.p5{
  font-size: 21;
}


footer {
  margin: 0 auto;
  background-color: $color-6;

  @media (max-width: $max-width -1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}

.footer {

  &__cards {
    max-width: $max-width;
    padding: 10px;
    margin: 0 auto;
    @media (max-width: $max-width -1) {
      padding-right: $gutter;
      padding-left: $gutter;
    }

    @include row;
    flex-wrap: wrap;
  }

  &__card {
    font: $font-heading;

    @include columns(6);

    @media (min-width: 500px) {
      @include columns(6);
    }

    @media (min-width: 900px) {
      @include columns(3);
    }

    @media (min-width: 1400px) {
      @include columns(3);
    }
  }

  &__title {
    margin: 20px 0px;
    font-size: $font-size-6;
  }

  &__list {
    list-style: none;
  }

  &__listitem {
    margin: 5px 0px;
  }

  &__trademark {
    padding: 20px 0px;
    text-align: center;
    font-weight: normal;
  }

  &__listitem>a:hover {
    transition: $transition;
    color: $color-1;
  }
}

.footer__listitem > a {
  color: $color-2;
  text-decoration: none;
}
